# Ignore Python bytecode folders and files
__pycache__/
*.py[cod]
*$py.class

cmd_case_open.egg-info
build/
dist/
*.eng-info/
.eggs/
pip-wheel-metadata/

.venv/
venv/
env/

.pytest_cache/
.mypy_cache/

.DS_Store